<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949452627700-f528p8raqnve7c17jrluq47k8h06str3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949452627700-f528p8raqnve7c17jrluq47k8h06str3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949452627700-4kt1b5e74ojmglt111ketsgcdlo6hv98.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8H2SKzIISiJYQ-c19zy9owos9Ng0Xmr4</string>
	<key>GCM_SENDER_ID</key>
	<string>949452627700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.codespec</string>
	<key>PROJECT_ID</key>
	<string>cesta-cafe-376c5</string>
	<key>STORAGE_BUCKET</key>
	<string>cesta-cafe-376c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949452627700:ios:acbdab3e3ea925dd0188a1</string>
</dict>
</plist>